<h1><%= @description %></h1>
<form action="/output" method="post">
  <div class="form-group">
    <label for="riddle_one">First Riddle: What is the sweetest thing?</label>
    <input type="text" class="form-control" name="answer_one" id="riddle_one">
  </div>
  <div class="form-group">
    <label for="riddle_two">Second Riddle: What is the most precious thing?</label>
    <input type="text" class="form-control" name="answer_two" id="riddle_two">
  </div>
  <!-- <div class="form-group">
    <label for="side_three">Side One</label>
    <input type="number" class="form-control" name="side_three" id="third_side">
  </div> --> -->
  <button type="submit" class="btn" >Riddle Me</button>
</form>
